/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.gemini-popup-container {
  background-color: inherit;
  margin: 0;
}

.gemini-popup-warning .mat-dialog-container {
  border-top: 4px solid #461aa0;
  border-radius: 8px;
  vertical-align: top;
  text-align: center;
}


.gemini-button-group {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-content: center;
}

.gemini-button {
  padding: 5px 20px;
  color: #461aa0;
  border-color: #461aa0;
  border-radius: 6px;
}

.gemini-button:focus {
  -moz-outline-radius: 6px;
  outline: 5px auto #461aa0;
  outline-width: medium;
}

.gemini-button:hover {
  -moz-outline-radius: 6px;
  cursor: pointer;
  outline: 5px auto #461aa0;
  outline-width: medium;
}
