<form #campaignForm="ngForm" *ngIf="campaign_config_loaded && !campaign_config_loaded_err">
  <div style="margin: 5px;" *ngIf="campaign.adv_status != 'ACTIVE'">
    <div class="alert alert-warning" role="alert"
         style="position: relative; top: 50; left: 50; width: 100%; opacity: 0.8;">
      <strong>Your Yahoo Gemini account is inactive!</strong> Open <a target="_blank" href="https://gemini.yahoo.com">Yahoo Gemini</a> to learn more.
      important.
    </div>
  </div>
  <div class="campaign-config panel panel-default">
    <div class="campaign-config-body panel-body">
      <div class="form-group">
        <label>Budget:</label>
        <input required class="form-control" type="number" name="budget"
               [(ngModel)]="campaign.budget" (change)="change()" placeholder="max spend">
      </div>
      <div class="form-group">
        <label>Cost Per Click:</label>
        <input required class="form-control" type="number" name="cpc"
               [(ngModel)]="campaign.price" (change)="change()" placeholder="unit price">
      </div>
    </div>

    <!-- toggle start and stop a campaign -->
    <div class="gemini-button-group">
      <button class="gemini-button" [disabled]="!campaignForm.valid" (click)="updateStatus()">
        {{ campaign.is_running ? 'Stop' : 'Start' }}
      </button>
      <button class="gemini-button" [disabled]="!is_changed || !campaignForm.valid" (click)="updateCost()">
        Update
      </button>
    </div>
  </div>
</form>

<div *ngIf="campaign_config_loaded && campaign_config_loaded_err" class="alert alert-danger" role="alert">
  <strong>Doh!</strong> {{ campaign_config_loaded_err }}
</div>
