div.campaign-config {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.campaign-config > div {
  padding: 0.5em;
}

div.campaign-config-body {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: flex-start;
}

div.campaign-config-body > div {
  margin-left: 10px;
  margin-right: 10px;
}

input.form-control {
  width: 10em;
  margin-left: 1em;
  margin-right: 1em;
}

div[class=gemini-button-group] {
  padding-left: 10px;
  margin-top: 30px;
  padding-bottom: 10px;
}

input.ng-valid {
  border-left: 5px solid #42a948;
}

input.ng-invalid {
  border-left: 5px solid #a94442;
}

button.gemini-button:first-child {
  margin-left: 0
}

button.gemini-button {
  margin: 0 10px;
}

div.form-label-group {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

i.helptip-icon {
  padding-bottom: 10px;
  padding-left: 5px;
}

i.helptip-icon:hover {
  cursor: pointer;
}

div.run-steps {
  margin: 10px;
  padding: 0;
  border: 0;
  border-radius: 5px;
  border: 1px solid gray;
}

div.run-steps-header {
  padding: 5px 20px;
  width: 100%;
  border-bottom: 1px solid gray;
  background-color: lightgrey
}

div.run-steps-body {
  margin: 10px 20px 10px 0;
}
