<form #campaignForm="ngForm" *ngIf="campaign_config_loaded && !campaign_config_loaded_err">
  <div style="margin: 5px;" *ngIf="campaign.adv_status != 'ACTIVE'">
    <div class="alert alert-warning" role="alert"
         style="position: relative; top: 50px; left: 50px; width: 100%; opacity: 0.8;">
      {{env.geminiAcctInactive}}
    </div>
  </div>
  <div class="campaign-config">
    <div>
      <div class="campaign-config-body">
        <div class="form-group">
          <div class="form-label-group">
            <label>Budget:</label>
            <i class="fa fa-question-circle-o helptip-icon" aria-hidden="true" data-toggle="tooltip"
               [title]="env.helpTipBudget"></i>
          </div>
          <input required class="form-control" type="number" name="budget"
                 [(ngModel)]="campaign.budget" (change)="change()" placeholder="max spend">
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <label>Bid Per Click:</label>
            <i class="fa fa-question-circle-o helptip-icon" aria-hidden="true" data-toggle="tooltip"
               [title]="env.helpTipCPC"></i>
          </div>
          <input required class="form-control" type="number" name="cpc"
                 [(ngModel)]="campaign.price" (change)="change()" placeholder="unit price">
        </div>
      </div>

      <!-- toggle start and stop a campaign -->
      <div class="gemini-button-group">
        <div>
          <button class="gemini-button" [disabled]="!campaignForm.valid" (click)="updateStatus()">
            {{ campaign.is_running ? 'Stop' : 'Start' }}
          </button>
        </div>
        <div>
          <button class="gemini-button" [disabled]="!is_changed || !campaignForm.valid" (click)="updateCost()">
            Update
          </button>
        </div>
        <div>
          <a href="{{ gemini_landing }}" target="_top">Go for advanced ...</a>
        </div>
      </div>
    </div>
    <div>
      <div class="run-steps">
        <div class="run-steps-header">
          {{env.runStepHeader}}
        </div>
        <div class="run-steps-body">
          <ol>
            <li>{{env.runStep1}}</li>
            <li>{{env.runStep2}}</li>
            <li>{{env.runStep3}}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</form>

<div *ngIf="campaign_config_loaded && campaign_config_loaded_err" class="alert alert-danger" role="alert">
  <strong>Doh!</strong> {{ campaign_config_loaded_err }}
</div>
