<div class="mat-app-background gemini-popup-container">
  <!-- show an optional title or subject title -->
  <mat-dialog-title *ngIf="messageConfig.title">{{messageConfig.title}}</mat-dialog-title>
  <div class="gemini-popup-content">
    <mat-dialog-content>{{messageConfig.content}}</mat-dialog-content>
  </div>

  <!-- show the buttons sufficed by a caller -->
  <div class="gemini-button-group">
    <mat-dialog-actions *ngIf="messageConfig.buttons">
      <button *ngFor="let btn of messageConfig.buttons; let i=index" class="gemini-button" tabindex="i" [mat-dialog-close]="btn.value">
        {{btn.label}}
      </button>
    </mat-dialog-actions>

    <!-- show a default close button -->
    <mat-dialog-actions *ngIf="!messageConfig.buttons">
      <button class="gemini-button" mat-dialog-close>OK</button>
    </mat-dialog-actions>
  </div>
</div>
