<div class="login-container">
  <div class="install-info" *ngIf="first_timer">
    <div style="display:table-row; vertical-align: middle">
      <div style="display:table-cell; width: 70%; white-space: nowrap">
        <img src="../../../favicon.ico">
        <img src="../../../assets/dot-double-arrow.png">
        <img src="../../../assets/shopify-logo.png">
      </div>
    </div>
    <hr/>
    <div style="display:table-row">
      <div style="display:table-cell">
        <ul *ngFor="let info of first_timer">
          <li>{{info}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="login-content" *ngIf="!first_timer">
    <div class="login-row">
      <h2>{{env.installHeader}}</h2>
    </div>
    <div class="login-row" style="height:40px"></div>
    <div class="login-row">
        <i class="fa fa-exclamation-circle login-icon1" aria-hidden="true"></i>
        <span>{{env.installBenefit}}</span>
    </div>
    <div class="login-row" style="height:40px"></div>
    <div class="login-row">
        <i class="fa fa-exclamation-circle login-icon2" aria-hidden="true"></i>
        <span>{{login_instruction}}</span>
    </div>
  </div>
  <div class="gemini-button-group">
    <div>
      <button class="gemini-button" (click)="signIn()" autofocus="true">
        Sign In
      </button>
    </div>
    <div>
      <button class="gemini-button" (click)="signUp()">
        Register
      </button>
    </div>
  </div>
</div>
