.login-container {
  margin-top: 100px;
  margin-left: 40px;
  font-size: 125%;
}

.install-info {
  display: table;
  margin: -60px 0 10px 20px;
  max-width: 600px;
}

.login-content {
  display: table;
  margin: -60px 0 10px 20px;
  max-width: 600px;
  color: black;
}

.login-row {
  display: table-row;
  margin: 20px 0;
}

.login-icon1 {
  font-size: 150%;
  color: #461aa0;
  padding-right: 10px;
}

.login-icon2 {
  font-size: 150%;
  color: #cf1616;
  padding-right: 10px;
}

div[class=gemini-button-group] {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
}

.gemini-button-group > div {
  margin-right: 30px;
}

.gemini-button-group > div:last-child > a {
  font-size: 12px;
  color: #461aa0;
}
