.app-root {
  margin: 0 50px;
  background-color: white;
}

.app-header-group {
  margin-top: 10px;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.app-header-group:last-child {
  color: #461aa0;
}

.app-header {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
}

.app-header-sub {
  font-size: 90%;
  font-weight: bold;
  padding-left: 20px;
  color: #461aa0;
}

.app-header-contact {
  text-decoration: underline overline #461aa0;
  padding: 0 10px;
  color: #461aa0;
}

.app-header-label {
  background-image: url(../assets/yahoo-logo.png);
  background-repeat: no-repeat;
  min-height: 40px;
  min-width: 170px;
}

.app-header-label + div {
  color: #461aa0;
}

.app-alert {
  position: relative;
  top: 5px;
  left: 0;
  width: 100%;
  opacity: 0.8;
}

