<div class="app-root" *ngIf="app_loaded && !is_shopify">
  <div class="app-header-group">
    <div class="app-header">
      <div class="app-header-label"></div>
      <div>GEMINI</div>
    </div>
    <div>
      <i class="fa fa-hand-o-right" aria-hidden="true"></i>
      <a class="app-header-contact" href="https://www.oath.com/advertising/contact-us/" target="_blank">Contact Us</a>
    </div>
  </div>
  <div class="app-header-sub">
    {{ environment.appTitle }}
  </div>
  <div [ngClass]="alert_css" role="alert" [hidden]="!alert_msg">
    <div class="close" (click)="hideAlert()">&times;</div>
    {{ alert_msg }}
  </div>
  <router-outlet></router-outlet>
</div>

<div class="app-root" *ngIf="app_loaded && is_shopify">
  <router-outlet></router-outlet>
</div>
