<div class="app-root" *ngIf="app_loaded && !is_shopify">
  <div class="app-header-group">
    <div class="app-header">
      <div class="app-header-label"></div>
      <div>GEMINI</div>
    </div>
  </div>
  <div class="app-header-sub">
    {{ environment.appTitle }}
  </div>
  <div [class]="alert_css" role="alert" [hidden]="!alert_msg">
    <div class="close" (click)="hideAlert()">&times;</div>
    {{ alert_msg }}
  </div>
  <router-outlet></router-outlet>

  <div class="app-footer">
    <div>
      <a href="#" (click)="openwin(environment.legalTC, 'legalTC', 1100,1000)">Terms and Conditions</a>
    </div>
    <div>
      <a href="#" (click)="openwin(environment.legalPrivacy, 'legalPrivacy', 1100,800)">Privacy</a>
    </div>
    <div>
      <a href="#" (click)="openwin(environment.prodContact, 'prodContact', 1400,1000)">Contact Us</a>
    </div>
    <div>
      <a href="#" (click)="openwin(environment.prodFQA, 'prodFQA', 1100, 800)">FQA</a>
    </div>
    <div>
      <a [href]="environment.prodFeedback" target="_blank">Feedback</a>
    </div>
  </div>
</div>

<div class="app-root" *ngIf="app_loaded && is_shopify">
  <router-outlet></router-outlet>
</div>
